.wrapper {
  text-align: center;
}

.search {
  height: 35px;
  border: none;
  font-size: 13px;
  width: 100%;
  margin: 0 auto 8px auto;
  background-color: black;
  color: #808080 !important;
  padding-left: 15px;
  border-bottom: 0.5px solid rgba(138, 136, 137, 0.3);
}

.search::placeholder {
  color: #808080 !important;
  opacity: 1;
}

.search:-ms-input-placeholder {
  color: white;
}

.search::-ms-input-placeholder {
  color: white;
}
